.advice {
    padding: 80px 0;
    background: #FAFAFA;
}

.advice__title {
    margin-top: 45px;
    color: #252B42;
    font-size: 40px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.2px;  
    text-align: center;  
}

.advice__desc {
    max-width: 470px;
    margin: 10px auto 45px;
    color:#737373;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
    letter-spacing: 0.2px;    
}

.advice__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    h3 {
        max-width: 135px;
        color: #252B42;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px; 
        letter-spacing: 0.1px;    
    }

    p {
        max-width: 180px;
        padding-top: 6px;
        color: #737373;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.2px;    
    }

}

.advice__list-item {
    position: relative;
    padding: 30px;
    padding-bottom: 170px;
    background: #FFF;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);    
    background-image: url(../images/advice_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;

}

.advice__list-item:nth-child(2) {
    background-image: url(../images/advice_2.png);
}

.advice__list-item:nth-child(3) {
    background-image: url(../images/advice_3.png);
}

.advice__list-item:last-child {
    background-image: url(../images/advice_4.png);
}

@media screen and (max-width: 767px) {
    .advice {
        padding-top: 40px;
    }

    .advice__list {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
    .advice__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: stretch;
        gap: 30px;
    }

    .advice__list-item {
        padding-bottom: 300px;
        h3 {
            max-width: max-content;
        }

        p {
            max-width: max-content;
        }
    }
}


