*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
}

.btn__primary {
  padding: 10px 40px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  background: #ffa62b;
  border: 1px solid #ffa62b;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    background: transparent;
    color: #ffa62b;
  }
}

.btn__primary-oval {
  border-radius: 37px;
}

.btn__light {
  padding: 10px 40px;
  color: #00a0c1;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  background: transparent;
  border: 1px solid #00a0c1;
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    background: #00a0c1;
    color: #fff;
  }
}

.btn__ligt-oval {
  border-radius: 37px;
}

.btn__light-gold {
  color: #ffa62b;
  border: 1px solid #ffa62b;

  &:hover {
    background: #ffa62b;
    color: #fff;
  }
}
