.contact {
  padding-top: 100px;
  background: #fafafa;
}

.contact__title {
  margin: 0 auto;
  text-align: center;
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.2px;
}

.contact__desc {
  margin: 10px auto 80px;
  max-width: 470px;
  color: #737373;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.contact__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;

  @include mediaTab {
    padding-bottom: 70px;
  }
}

.contact__list-item {
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;

  a {
    color: #252b42;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  h3 {
    margin: 15px 0;
    color: #252b42;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.1px;
  }

  a img {
    margin-bottom: 15px;
  }
}

.contact__list-item:nth-child(2) {
  padding: 80px 40px;
  background-color: #252b42;
  color: #fff;
  a {
    color: #fff;
  }

  h3 {
    color: #fff;
  }
}

.consulting {
  padding: 40px;
  background-color: #fff;
}

.consulting__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn__primary {
    margin-right: 50px;

    @include mediaTab {
      margin-right: 0;
    }
  }
}

.consult__content {
  h2 {
    color: #252b42;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.1px;

    @include mediaTab {
      max-width: 400px;
    }
  }

  p {
    margin-top: 6px;
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}


@media screen and (max-width: 767px) {
  .contact {
    padding-top: 200px;
  }

  .contact__list {
    flex-direction: column;
    gap: 30px;
  }

  .consulting__wrapper {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    justify-content: center;
    align-items: center;
    
    .btn__primary {
        margin: 0;
    }
    
    p {
        margin-top: 10px;
        max-width: 200px;
        margin: 0 auto;
    }
  }

  .contact__list {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact__list {
    flex-direction: column;
    gap: 30px;

    .contact__list-item {
      width: 70%;
    }



    

    

   
  }
}
